.about {
    background-color: #ffffff;
    padding: 150px;
}

.about img {
    width: 50%;
    height: 40%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



@media screen and (max-width: 768px) {
    .about {
        margin-top: 50px;
        padding: 70px 20px 15px;
        gap: 10px;
    }

    .about img {
        gap: 5px;
        width: 80%;
        height: 80%;
        margin-left: 35px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
}