.footerr {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3e3b3b;
  color: #ffffff;
  text-align: center;
  padding: 3px 1px;
  background-color: rgba(0, 0, 0, 0.8);
}


.text-center p {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.985);
  }  

.text-footer {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.985);
    animation: pulse 2s infinite; 
  }

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
    