@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@300;400;500&display=swap');

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease, transform 0.3s ease;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.985);
  }
  
  
  .navbar-brand {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 5;
      transform: translateY(0);
    }
  }